@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;900&display=swap");
body {
  background-color: #f7fefcff;
  font-family: "Exo 2", sans-serif;
}

main {
  margin-top: 48px;
}

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1000;
}

.navbar .toggle {
  width: 48px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #3b60e4;
  border-radius: 0.5em;
  cursor: pointer;
  margin-top: 3px;
  margin-right: 3px;
}

.navbar .toggle .bar {
  position: relative;
  width: 95%;
  height: 5px;
  background-color: #080708;
  border-radius: 3px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.navbar .toggle .bar::before, .navbar .toggle .bar::after {
  content: "";
  width: 100%;
  height: inherit;
  position: absolute;
  background-color: inherit;
  border-radius: 3px;
}

.navbar .toggle .bar::before {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.navbar .toggle .bar::after {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.navbar-nav {
  width: 0%;
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #231f23;
  overflow: hidden;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  border-radius: 5px;
}

.navbar-nav li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-nav li a {
  font-size: 0;
  color: #3b60e4;
}

.navbar-nav li a i {
  font-size: 28px;
}

.active .navbar-nav {
  width: calc(100% - 51px);
}

.active .toggle .bar {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  background-color: transparent;
}

.active .toggle .bar::before {
  background-color: #080708;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.active .toggle .bar::after {
  background-color: #080708;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.banner .bg {
  display: none;
}

.banner .text {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.banner .text h1 {
  position: relative;
  font-size: 48px;
  color: #f7fefcff;
}

.banner .text h1::before {
  position: absolute;
  content: "";
  width: 225px;
  height: 100%;
  background-color: #3b60e4;
  border-radius: 0.5em;
  z-index: -1;
  -webkit-transform: translateX(-5%);
          transform: translateX(-5%);
}

.banner .text h1::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  background-color: #3b60e4;
  bottom: 0;
  left: 0;
  -webkit-transform: rotate(45deg) translateX(-20px);
          transform: rotate(45deg) translateX(-20px);
  z-index: -1;
}

.banner .text p {
  font-size: 28px;
  text-align: justify;
}

.banner .text p Strong {
  color: #7765e3;
}

.banner .links {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.banner .links a {
  padding: 1em 2em;
  border-radius: 0.5em;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
}

.banner .links a:nth-child(1) {
  background-color: #7765e3;
  border: 2px solid #7765e3;
  color: #080708;
}

.banner .links a:nth-child(1):hover {
  background-color: #f7fefcff;
  border: 2px solid #080708;
  color: #080708;
}

.banner .links a:nth-child(2) {
  background-color: #f7fefcff;
  border: 2px solid #080708;
  color: #080708;
}

.banner .links a:nth-child(2):hover {
  background-color: #7765e3;
  border: 2px solid #7765e3;
  color: #080708;
}

@media only screen and (min-width: 768px) {
  body {
    background-color: #3b60e4;
  }
}

@media only screen and (min-width: 1200px) {
  body {
    background-color: #f7fefcff;
  }
}

@media only screen and (min-width: 768px) {
  main {
    margin-top: 51px;
  }
}

@media only screen and (min-width: 1200px) {
  main {
    margin-top: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .navbar {
    width: 100px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #f7fefcff;
    border-radius: 50% 0% 0% 350%;
    -webkit-perspective: 800;
            perspective: 800;
    -webkit-transition: all 800ms cubic-bezier(0.9, 0, 0.33, 1);
    transition: all 800ms cubic-bezier(0.9, 0, 0.33, 1);
    z-index: 1000;
  }
  .navbar .toggle {
    width: 48px;
    height: 48px;
    background-color: transparent;
    margin-top: 10px;
    margin-right: 20px;
  }
  .navbar .toggle .bar {
    width: 35px;
    background-color: #3b60e4;
    -webkit-transition: all 800ms cubic-bezier(0.9, 0, 0.33, 1);
    transition: all 800ms cubic-bezier(0.9, 0, 0.33, 1);
  }
  .navbar .toggle .bar::before {
    width: 42px;
  }
  .navbar .toggle .bar::after {
    width: 30px;
  }
  .navbar-nav {
    opacity: 0;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: transparent;
    -webkit-transition: all 800ms cubic-bezier(0.9, 0, 0.33, 1);
    transition: all 800ms cubic-bezier(0.9, 0, 0.33, 1);
  }
  .navbar-nav li {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-transform: translateY(35px);
            transform: translateY(35px);
    -webkit-transition: all 800ms cubic-bezier(0.9, 0, 0.33, 1);
    transition: all 800ms cubic-bezier(0.9, 0, 0.33, 1);
  }
  .navbar-nav li a {
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 12px;
  }
  .navbar-nav li a i {
    margin-right: 5px;
  }
}

@media only screen and (min-width: 768px) {
  .banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .banner .bg {
    display: block;
    position: absolute;
    top: 51px;
    width: 100%;
    height: 100%;
    -webkit-clip-path: polygon(100% 0, 100% 74%, 65% 100%, 0 100%, 0 0);
            clip-path: polygon(100% 0, 100% 74%, 65% 100%, 0 100%, 0 0);
    background-color: #f7fefcff;
    z-index: -1;
  }
  .banner h1 {
    font-size: 64px;
  }
  .banner p {
    font-size: 36px;
  }
  .banner lottie-player {
    width: 400px;
    height: 400px;
    margin: 0 auto;
  }
  .banner .links a {
    font-size: 24px;
  }
}

@media only screen and (min-width: 1200px) {
  .banner {
    width: 100%;
    height: 100vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "text image";
  }
  .banner .bg {
    width: 100%;
    height: 100vh;
    display: block;
    position: absolute;
    top: 0;
    z-index: -1;
    background-color: #3b60e4;
    -webkit-clip-path: polygon(60% 0, 100% 0%, 100% 100%, 40% 100%);
            clip-path: polygon(60% 0, 100% 0%, 100% 100%, 40% 100%);
  }
  .banner .text {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: text;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  .banner .text h1 {
    font-size: 72px;
  }
  .banner .text h1::before {
    width: 350px;
  }
  .banner .text h1::after {
    width: 40px;
    height: 40px;
    -webkit-transform: rotate(45deg) translateX(-30px);
            transform: rotate(45deg) translateX(-30px);
  }
  .banner lottie-player {
    width: 600px;
    height: 600px;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: image;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .banner .links {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: text;
    margin-top: 10em;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  .banner .links a {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1200px) {
  .active {
    width: 300px;
    border-radius: 1% 0 0 1%;
  }
  .active .navbar-nav {
    opacity: 1;
  }
  .active .navbar-nav li {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  .active .toggle .bar {
    background-color: transparent;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  .active .toggle .bar::before, .active .toggle .bar::after {
    width: 100%;
    background-color: #3b60e4;
  }
}

.portfolio {
  background-color: #3b60e4;
  height: 100%;
}

.grid-cards {
  width: 90%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 20px;
  grid-gap: 40px;
}

.card {
  background-color: #231f23;
  border-radius: 20px;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.card .container-img {
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
}

.card .container-img::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px 20px 0 0;
  opacity: 0.7;
}

.card .container-img img {
  width: 100%;
  display: block;
  border-radius: 20px 20px 0 0;
}

.card .details {
  padding: 20px 10px;
}

.card .details h3 {
  color: #3b60e4;
  font-weight: 600;
  font-size: 18px;
  margin: 10px 0 15px 0;
}

.card .details p {
  color: #f7fefcff;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  text-align: justify;
}

.card .details ul {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #3b60e4;
}

.card .details ul li {
  color: #7765e3;
  -webkit-transform: translateX(15px);
          transform: translateX(15px);
}

.card .details ul li::before {
  content: "";
  position: absolute;
  top: 50%;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #7765e3;
  -webkit-transform: translateX(-120%) translateY(-50%);
          transform: translateX(-120%) translateY(-50%);
}

.card .details a {
  position: relative;
  width: 30%;
  display: block;
  margin: 1em auto;
  padding: 1em 2em;
  border-radius: 1em;
  background-color: #7765e3;
  text-align: center;
  text-decoration: none;
  color: #080708;
  z-index: 500;
  -webkit-filter: url("#goo");
          filter: url("#goo");
}

.card .details a::before, .card .details a::after {
  width: 4.4em;
  height: 2.95em;
  position: absolute;
  content: "";
  display: inline-block;
  background: #7765e3;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
  -webkit-transform: scale(0);
          transform: scale(0);
  z-index: -1;
}

.card .details a::before {
  top: -25%;
  left: 20%;
}

.card .details a::after {
  bottom: -25%;
  right: 20%;
}

.card .details a:hover::before, .card .details a:hover::after {
  -webkit-transform: none;
          transform: none;
}

.skill-bg {
  background-color: #3b60e4;
}

.skills {
  width: 90%;
  margin: 48px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 10px;
}

.skill-card {
  width: 95%;
  border-radius: 10px;
  -webkit-transition: 2s;
  transition: 2s;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.6, 0.32, 1.6);
          transition-timing-function: cubic-bezier(0.68, -0.6, 0.32, 1.6);
  background-color: #f7fefcff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skill-card .logo {
  position: relative;
  width: 20%;
}

.skill-card .logo img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 48px;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}

.skill-card .info {
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 80%;
}

.skill-card .info h5 {
  font-size: 16px;
  font-weight: 400;
  margin-right: 10px;
  position: relative;
}

.skill-card .info h5::before, .skill-card .info h5::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 12px;
  border-radius: 8px;
  -webkit-transform: translateY(150%);
          transform: translateY(150%);
}

.skill-card .info h5::after {
  width: calc(1% * var(--p));
  background: -webkit-gradient(linear, left top, right top, from(#346ac9), to(#2bbc89));
  background: linear-gradient(90deg, #346ac9 0%, #2bbc89 100%);
}

.skill-card .info h5 span {
  font-size: 12px;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.skills {
  width: 90%;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0;
}

@media only screen and (min-width: 1200px) {
  .skills {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 1200px) {
  .skill-card {
    height: 100px;
    -webkit-transition: 1.5s;
    transition: 1.5s;
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.6, 0.32, 1.6);
            transition-timing-function: cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }
  .skill-card:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .skill-card .logo img {
    width: 64px;
  }
  .skill-card .info h5 {
    font-size: 24px;
  }
  .skill-card .info h5::after, .skill-card .info h5::before {
    height: 15px;
  }
  .skill-card .info h5 span {
    font-size: 16px;
  }
}
/*# sourceMappingURL=main.css.map */